  @import '../../sass/styles';
  //$conversation-info-height: 75%;
  //$conversation-actions-height: 25%;

  $conversation-info-height: 100%;
  $conversation-actions-height: 0;
  .conversation-container {
    box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 0;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid $primary-color;
    cursor: pointer;
    position: relative;
  }

  .conversation-container:hover {
    box-shadow: 0 -8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  .conversation-container.selected {
    border: 3px solid $primary-color;
  }
  /*info section*/

  .info {
    height: $conversation-info-height;
    padding: 10px;
  }

  .info-logo,
  .info-content {
    float: left;
    height: 90%;
  }
  /*logo in info*/

  .info-logo {
    width: 50%;
    height: 100%;
    position: relative;
  }

  .info-logo-img {
    position: absolute;
    border-radius: 50%;
    width: 65px;
    height: fit-content;
    //max-height: 70%;
    max-height: 65px;
    bottom: 5%;
    left: 0;
  }
  /*content in info */

  .info-content {
    width: 50%;
    padding-right: 2px;
  }

  .info-title {
    font-weight: bold;
  }

  .text-row {
    text-align: var(--text-align);
  }

  .conversation-not-read {
    background-color: $conversion-color;
    color:$white;
  }

  .conversation-was-read{
    background-color: #E4E4E4;
    color:$black;
  }

  .name-in-conversation-container {
    //color:black
  }
  /*actions section*/

  .actions {
    cursor: pointer;
    height: $conversation-actions-height;
    width: 100%;
  }

  div.action {
    position: relative;
    float: var(--main-float);
    height: 100%;
    width: 33%;
    padding: 3px;
    display: flex;
    align-items: center;
  }

  .action:not(:first-child).action:not(:last-child) {
    border: 0.5px solid #EBEBEB;
    border-bottom-width: 0;
  }

  .action:first-child,
  .action:last-child {
    border-top: 0.5px solid #EBEBEB;
  }

  .action span {
    text-align: center;
    margin: auto;
    display: block;
  }

  div.action-premium {
    position: absolute;
    height: 82.5%;
    width: 82.5%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 9px;
    display: flex;
    align-items: center;
  }

  .action .title {
    font-weight: bold;
    color: $primary-color;
  }

  .action-premium .title {
    font-weight: bold;
    color: $black;
  }

  .options {
    cursor: pointer;
    height: $conversation-actions-height;
    width: 100%;
    background-color: #DDDDDD;
  }

  div.option {
    position: relative;
    float: var(--main-float);
    height: 100%;
    width: 31.5%;
    padding: 4px;
    background-color: #DDDDDD;
    display: flex;
    align-items: center;
  }

  .option span {
    text-align: center;
    display: block;
  }

  .back-option {
    width: 100%;
    height: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 2px;
    float: right;
  }

  .back-option-container {
    float: right;
    width: 5%;
    height: 100%;
  }

  .img-option {
    height: 13px;
    margin-right: 2px;
    margin-bottom: 3px;
  }

  .right-left-border {
    border-right: 1px #BEBEBE solid;
    border-left: 1px #BEBEBE solid;
  }

  div.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 300px;
    border: 3px solid #73AD21;
  }

  .lock {
    height: 12px;
    width: 12px;
    padding-bottom:2px;
    float: var(--not-main-float);
  }

  .write-note-locked-text {
    position: absolute;
    max-width: 70px;
    top:var(--conversation-write-note-top);
    left:20%;
  }

  .check-box {
    padding: 0;
    margin: -3px;
    float: left;
  }

  .check-box:after {
    color: $primary-color;
    background-color: $primary-color;
  }

  .clock-icon {
    width: 10px;
    height: 10px;
    display: inline-block;
  }

  .user-options {
    font-weight: 600;
    margin: auto;
  }

  .last_msg_read{
    content:url("../../assets/icons/new_msg_read.svg") ;
    height: 10px;
    width: 16px;

  }

  .short-length {
    font-size: var(--read-more-short-number-font-size);
  }

  .block-action-font {
    font-size: var(--block-conversation-font-size);
    //margin-top:var(--block-conversation-margin-top);
  }

  .last_msg_not_read{
    content:url("../../assets/icons/msg_not_read_gray.svg") ;
    height: 15px;
    width: 15px;
  }

  .last_msg_not_sent {
    content: url("../../assets/icons/one_vi_gray.png");
    height: 10px;
    width: 10px;
  }

  .no_read_time {
    display: none;
  }

  .display_read_time {
    display: inline-block;
  }

  .modal-content {
    width: 80%;
    height: 500px;
    margin: auto;
    background-color: black;
    border-color: $primary-color;
    //border-width: medium;
  }

  .modal-body {
    height: 80%;
    width: 100%;
  }

  .modal-header{
    border-bottom: 0;
    height: 20%;
  }

  .long-length {
    font-size: var(--read-more-long-number-font-size);
    //margin-top:2px;
  }

  .read-more-text {
    max-width: var(--conversation-read-more-text-max-width);
    margin:auto;
  }

  .modal-title {
    border-bottom: 0;
  }

  .text-question{
    color: white;
    text-align: center;
    float: right;
    font-size: 2em;
    margin-bottom: 30px;
  }

  .text-box{
    width: 80%;
    margin-left: 10%;
    border-radius: 8px;
  }

  .report-button {
    background-color: $primary-color;
    width: 50%;
    float:left;
    height: 100%;
    cursor:pointer;
  }

  .cancel-button {
    background: darkgray;
    width: 50%;
    height: 100%;
    float:right;
    border-left-style: inset;
    border-left-color: black;
    border-left-width: 2px;
    cursor:pointer;
  }

  .display {
    display: block;
  }

  .hide {
    display: none;
  }

  .report_warning {
    content: url("../../assets/icons/report_warning.svg") ;
    height: 50px;
    margin: auto;
    width: 100%;
  }

  ::placeholder {
    opacity: 0.8; /* Firefox */
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    opacity: 0.8; /* Firefox */
  }

  :-ms-input-placeholder { /* Microsoft Edge */
    opacity: 0.8; /* Firefox */
  }

  .whiteBackGround{
    background-color: white;
  }

  .mark_on {
    content: url("../../assets/icons/mark_option_on.png");
    height: 10px;
  }

  .mark_off {
    content: url("../../assets/icons/mark_option.png");
    height: 10px;
  }

  .current_chat_icon {
    height: 24px;
    float: var(--not-main-float);
  }

  .message-read-status {
    float: var(--main-float);
    margin-top: 5px;
    margin-left: 6px;
  }

  .select-container {
    cursor:pointer;width: 80%;height: 40px;margin-bottom: 30px;margin-left: 10%;border-radius: 5px;font-size: 1.5em;background-color: $primary-color;
  }

  @media screen and (min-width: 700px) {
    div.action-premium {
      width: 75%;
    }

    //.info-logo>img {
    //  max-height: 65px;
    //  width: 65px;
    //  left:4%;
    //  bottom: 30%;
    //}

    .lock {
      height: 15px;
      padding-bottom:4px
    }

    div.action {
      padding: 4px;
    }
    //.conversation-container.selected:after {
    //  content: '';
    //  position: absolute;
    //  left: 0;
    //  top: 50%;
    //  width: 0;
    //  height: 0;
    //  border: 21px solid transparent;
    //  border-right-color: $primary-color;
    //  border-left: 0;
    //  margin-top: -24px;
    //  margin-left: -23px;
    //}



    .left-arrow.selected:after {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      width: 0;
      height: 0;
      border: 21px solid transparent;
      border-right-color: $primary-color;
      border-left: 0;
      margin-top: -24px;
      margin-left: -23px;
    }

    .right-arrow.selected:after {
      content: '';
      position: absolute;
      right: -21px;
      top: 50%;
      width: 0;
      height: 0;
      border: 21px solid transparent;
      border-left-color: $primary-color;
      border-right: 0;
      margin-top: -24px;
      margin-left: -23px;
    }



  }

  @media screen and (min-width: 1050px) {
    div.action {
      padding: 2px;
    }

  }
  //
  //@media screen and (min-width: 1100px) {
  //  .info-logo>img {
  //    max-height: 75px;
  //    width: 75px;
  //    left:13%;
  //  }
  //}
  //
  @media screen and (min-width: 1150px) {
    div.option {
      padding: 2px;
    }
  }
  //
  //@media screen and (min-width: 1700px) {
  //  .info-logo>img {
  //    max-height: 105px;
  //    width: 105px;
  //    bottom: 12%;
  //  }
  //}

  .wolf{
    border: 3px solid $primary-color;
  }

   .Wolfname{
    color:$primary-color;
    font-weight: bold;
  }

  .wolfIcon{
    z-index: 2;
    width: 27px;
    height: 27px;
    position: absolute;
    border-radius: 50%;
    left:40px;
    bottom: 5%;
    
  }

  .Wolfphrase{
    width:100%;
  }

  .wolf-text{
    position: absolute;
    left:75px;
    bottom: -35px;
    width:100px;
    height: 70px;
    font-size: 13px;
  }
  
  .not-wolf{
    visibility: hidden;
  }