<div [ngClass]="{'conversation-container':true, 'selected':selected, 'wolf':isDaWolf, 'left-arrow':arrowDirectionRight, 'right-arrow':!arrowDirectionRight,
    'conversation-was-read':(conversation.lastMessageMy||conversation.isRead), 'conversation-not-read': !(conversation.lastMessageMy||conversation.isRead)}">
  <div class="info" (click)="conversationClicked()">
    <div class="info-logo">
      <!--<span class="check-box" [ngClass]="{'mark_on':checkOn, 'mark_off':!checkOn}" (click)="oncheck($event)"></span>-->
      <img class="info-logo-img" src="{{conversation.conversationUser?.logo}}" (click)="linkToProfile()"/>
      <img src="assets/icons/greenOnline.png" style="height: 10px;width: 10px;top:4%;left:10px;display: block"
           [ngStyle]="{'display': conversation.conversationUser?.online ? 'block' : 'none' }" />
      <img [ngClass]="{'wolfIcon':isDaWolf, 'not-wolf':!isDaWolf}" src="assets/icons/cwolf.png"/>
      <div [ngClass]="{'wolf-text':isDaWolf, 'not-wolf':!isDaWolf}">
        <div class="Wolfname"><span>The Wolf</span></div>
        <div class="Wolfphrase"><span>שמחתי לעזור</span></div>
      </div>
      
      
    </div>
    <div class="info-content" [ngStyle]="{'padding':arrowDirectionRight ? '0 2px 0 0': '0 0 0 2px'}">
      <!--<img src="assets/icons/chat.png" class="current_chat_icon" [ngStyle]="{'display':selected ? 'block' : 'none' }" >-->
      <div class="text-row info-title chat-with-user">
        <span class="name-in-conversation-container" (click)="linkToProfile()">{{conversation.conversationUser?.nickName}}</span>
      </div>
      <div class="text-row">
        <span class="user-status">{{conversation.conversationUser?.city}}</span>
      </div>

      <div class="text-row" [ngStyle]="{'display':conversation.last_message_content === noRecentMessageText ? 'none' : 'block' }">
        <img src="assets/icons/clock1.svg" class="clock-icon">
        <span class="message-info">{{'SENT' | translate}} {{conversation.lastMessageSentTime * 1000 |date: 'H:mm dd/MM/yy'}}</span>
        <img src="assets/icons/target1.svg" class="clock-icon">
        <span *ngIf="conversation.lastMessageRead" [ngClass]="{'message-info':true}"> {{'READ_AT' | translate}}{{conversation.lastMessageReadime * 1000 |date: 'H:mm dd/MM/yy'}}</span>
      </div>
      <div class="message-read-status">
        <div [ngClass]="{'last_msg_read':conversation.lastMessageSent&&conversation.lastMessageMy&&conversation.lastMessageRead ,
        'last_msg_not_read': conversation.lastMessageSent&&conversation.lastMessageMy&&!conversation.lastMessageRead ,
        'last_msg_not_sent': conversation.lastMessageMy&&!conversation.lastMessageSent}"></div>
      </div>
      <div style="overflow-wrap:break-word;text-overflow: ellipsis;max-height: 38px;" class="text-row chat-with-user user-options" [innerHTML]="conversation.last_message_content">
      </div>
    </div>
  </div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span style="width: 100%;display: inline-block;margin-top: 10%">
          <span class="report_warning"></span>
        </span>
      </div>
      <div class="modal-body">
        <span class="modal-title text-question">{{'ARE_YOU_SURE_YOU_WANT_TO_REPORT_THIS_USER' | translate}}?</span>
        <select class="select-container" #selectedReason>
          <option disabled hidden selected>{{'SELECT_REASON' | translate}}</option>
          <option *ngFor="let reason of reportReasons" style="background-color: white">{{reason.label}}</option>
        </select>
        <textarea class="text-box"  rows="5" placeholder="{{'FREE_TEXT' | translate}}" [(ngModel)]="reportText" ></textarea>
      </div>

      <div style="height: 43px;;bottom:0;font-size: 20px;text-align: center;font-weight: 400">
          <span class="cancel-button" data-dismiss="modal" (click)="clearText()" #closeModal>
            <span style="position: absolute;bottom: 8px;right: 19%">{{'CANCEL' | translate}}</span>
          </span>
          <span class="report-button" (click)="preformReport(selectedReason.value)">
            <span style="position: absolute;bottom: 8px;left: 19%" >{{'REPORT' | translate}}</span>
          </span>
      </div>
    </div>
  </div>
</div>

  <a href="{{getUserProfileUrl_Reference(conversation.conversationUser.userId)}}" target="_blank" #passToProfile hidden></a>