
<div class="gallery-image-container" *ngIf="image;else emptyImage" (click)="imageClicked()">
  <div class="image-in-gallery" [ngClass]="{'selected':selected}" #userImage></div>
  <span  class="select-image" [ngClass]="{'image-selected': selected,'image-not-selected':!selected}" ></span>
</div>


<ng-template #emptyImage>
  <div class="gallery-image-container empty-image-container" >
    <span class="empty-image"></span>
  </div>
</ng-template>
