@import '../../sass/styles';

.gallery-image-container {
  height: 100%;position: relative;
  cursor: pointer;
}

.empty-image-container {
  background-color: $gray-color;
  display: flex;
  align-items: center;
}

.empty-image {
  margin:auto;
  height: auto;
  content: url("../../assets/icons/empty-image.png");
}

.image-in-gallery {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.selected {
  border: 3px solid $primary-color;
}

.select-image {
  position: absolute;
  height: 15px;
  top:7px;
  right: 7px;
}

.image-not-selected {
  content: url("../../assets/icons/check.png");
}

.image-selected {
  content: url("../../assets/icons/checked.png");
}
