//$primary-color: #FF1493;
//$primary-color: #ff87c3;
$primary-color: #FF96CA;
$conversion-color: #000;
$secondary-color: #EAE9E7;
$white: white;
$black: black;
$gray-color : #E8E8E8;
$component-bacbkground:white;
