@import 'colors';
html,
body,
app-root {
  display: block;
  height: 100%;
}

// Global variables
:root {
  --main-float: right;
  --not-main-float: left; // The opposite of the main float

  --text-align: right;

  --text-direction: rtl;
  --not-main-text-direction: ltr;

  --arrow-icons-transform: rotate(180deg);  // Rotate arrow incase of float left

  --read-more-short-number-font-size: 0.85em;
  --read-more-long-number-font-size: 0.8em;

  --block-conversation-font-size: 1.2em;
  --block-conversation-margin-top: unset;

  --conversation-write-note-top: -2px;

  --conversation-read-more-text-max-width: unset;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1em;
}

.write-crusor {
  cursor: text;
}

.conversation-container {
  //height: 120px;
  height: 90px;
}

.conversations-list {
  width: 100%;
}

.main-chat-window {
  width: 100%;
}

.chat-window {
  width: 100%;
  padding-bottom: 1px;
}

.marked-chats {
  font-size: 1.5em;
}

.chat-with-user {
  font-size: 1.3em;
}

.messages-info {
  //font-size:1.5vh;
  font-size: 1.2em;
}

.notes-on-user {
  font-size: 0.85em;
}

.user-status {
  color: #7E7F7E;
  font-size: 1.2em;
}


.mobile-typing-container {
  width: 100%;display: flex;align-items: center;
}

.mobile-typing {
  margin: auto;
  font-style: italic;font-weight: 700;
  color: white;
  z-index: 99;
  border-radius: 15px;
  background: black;
  padding: 1px 8px;
}

.message-info {
  color: #7E7F7E;
  font-size: 0.8em;
}

.chat-conversations-body {
  height: 100%;
  margin-bottom: 60px;
  position: relative;
  direction: var(--text-direction);;
}

textarea {
  font-size: 2.1em;
}

.write-note {
  font-size: 1.2em;
}

.write-note-locked {
  font-size: 0.8em;
  margin-top:3.5px;
  position: relative;
}

//::-webkit-scrollbar {
//  width: 0;  /* remove scrollbar space */
//  background: transparent;  /* optional: just make scrollbar invisible */
//}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (min-width: 340px) {
  //.chat-with-user {
  //  font-size: 1.65em;
  //}

  .notes-on-user {
    font-size: 0.9em;
  }

  //.conversation-container {
  //  height: 200px;
  //}
}
@media screen and (min-width: 700px) {
  //.header {
  //  height: 15%;
  //  display: block;
  //}
  //.context-div {
  //  height: 89%;
  //}

  //.conversation-container {
  //  height: 210px;
  //}
  .conversations-list {
    width: 50% !important;
    max-width: 400px;
  }

  .main-chat-window {
    width: 50% !important;
  }

  .chat-window {
    float: right;
    display: block;
    width: 48%;
    margin-left: 3%;
  }
  .marked-chats {
    font-size: 1.1em;
  }

  //.write-note {
  //  font-size: 1.1em;
  //}
  //.user-status {
  //  color: #7E7F7E;
  //  //font-size: 1.6em;
  //}
  //.message-info {
  //  color: #7E7F7E;
  //  font-size: 1.1em;
  //}
  //.chat-with-user {
  //  font-size: 1.4em;
  //}
  textarea {
    font-size: 2.1em;
  }
}

@media screen and (min-width: 850px) {
  //.messages-info {
  //  //font-size:1.5vh;
  //  font-size: 1.45em;
  //}
  .conversations-list {
    width: 48% !important;
  }

  .main-chat-window {
    width: 52% !important;
  }

}
@media screen and (max-width: 970px) {
  .marked-chats {
       font-size: 1.2em;
     }
}

//@media screen and (max-width: 800px) {
//  .chat-with-user {
//    font-size: 1.65em;
//  }
//}

@media screen and (min-width: 1050px) {
  //.write-note {
  //  font-size: 1.4em;
  //}

  .conversations-list {
    width: 40% !important;
  }

  .main-chat-window {
    width: 60% !important;
  }
  .write-note-locked {
    font-size: 0.85em;
  }
}

@media screen and (min-width: 1200px) {
  .conversations-list {
    width: 33% !important;
  }

  .main-chat-window {
    width: 67% !important;
  }
  //.chat-with-user {
  //  font-size: 2.1em;
  //}

  //.marked-chats {
  //  font-size: 2em;
  //}
}
