<!--<nav class="boxes-navbar">-->
  <!--<div (click)="inbox()" [ngClass]="{'box-picker':true,'box-clicked-picker':inReceived}">-->
    <!--<a class="nav-bar-text">{{'INCOMING_MESSAGES' | translate}}</a>-->
  <!--</div>-->
  <!--<div (click)="outbox()" [ngClass]="{'box-picker':true,'box-clicked-picker':!inReceived}">-->
    <!--<a class="nav-bar-text">{{'OUTGOING_MESSAGES' | translate}}</a>-->
  <!--</div>-->

  <!--<div class="switch-button-not-moblie">-->
    <!--<a class="filter-btn-text">{{'FILTER_UNREAD_MESSAGES' | translate}}</a>-->
    <!--<div (click)="changeRead()" class="button">-->
      <!--<img [ngClass]="{'display-on-switch':filter,'switch-off':!filter}">-->
      <!--<img [ngClass]="{'display-off-switch':!filter,'switch-off':filter}">-->
    <!--</div>-->
  <!--</div>-->
<!--</nav>-->


<div class="switch-button-not-moblie">
  <a class="filter-btn-text">{{'FILTER_UNREAD_MESSAGES' | translate}}</a>
  <div (click)="changeRead()" class="button">
    <img [ngClass]="{'display-on-switch':filter,'switch-off':!filter}">
    <img [ngClass]="{'display-off-switch':!filter,'switch-off':filter}">
  </div>
</div>

<div class="switch-button">
  <a class="filter-btn-text">{{'FILTER_UNREAD_MESSAGES' | translate}}</a>
  <div (click)="changeRead()" class="button">
    <span [ngClass]="{'display-on-switch':filter,'switch-off':!filter}"></span>
    <span [ngClass]="{'display-off-switch':!filter,'switch-off':filter}"></span>
  </div>
</div>
