@import '../../sass/styles.scss';
.boxes-navbar {
  //height: 100%;
  float: right;
  z-index: 2;
  height: 40px;
  background: white;
  width: 100%;
  text-align: right;
}

.box-picker {
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  float:right;
  height: 100%;
  width: 50%;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.nav-bar-text{
  font-size:1.3em;
  margin:auto;
}
.filter-btn-text {
  font-size:1.2em;
  margin-right: 5px;
}
.box-clicked-picker {
  background: $primary-color;
}

.box-clicked-picker:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 23px solid transparent;
  border-top-color: $primary-color;
  border-bottom: 0;
  margin-left: -23px;
  margin-bottom: -9px;

}
.switch-button-not-moblie{
  float: left;
  display: none;
  height: 100%;
  padding: 10px;
  //margin-left: 40px;
  cursor: pointer;
}

.switch-button{
  float: left;
  display: flex;
  align-items: center;
  direction: var(--text-direction);
  margin: 5px;
  margin-left: 5%;
}

.display-on-switch{
  content: url("../../assets/icons/enabled_button.svg") ;
  height: 23px;
  margin-right: 8px;
  padding-top: 4px;
}
.display-off-switch{
  content: url("../../assets/icons/disabled_button.svg");
  height: 23px;
  margin-right: 8px;
  padding-top: 4px;
}

.switch-off{
  display: none;
}

.button{
  float:var(--not-main-float);
  height: 100%;
}

.unread-msg{
  float:left;
  font-size: 1.2em;
}

@media screen and (min-width:700px) {
  .switch-button{
    display: none;
  }

  .switch-button-not-moblie{
    display: block;
    padding: 0;
  }

  //.box-picker {
  //  width: unset;
  //  min-width: 80px;
  //  //min-width: 85px - remove padding from text if use 85px
  //}

  .display-on-switch{
    height: 20px;
    margin-right: 3px;
    margin-top: 7px;
    margin-left: 2px;
  }

  .display-off-switch{
    height: 20px;
    margin-right: 3px;
    margin-top: 7px;
    margin-left: 2px;
  }

  .nav-bar-text{
    font-size:1em;
    top:2px;
    position: relative;
  }

  .filter-btn-text {
    font-size:1em;
    margin-right: unset;
    position: relative;
    top: 10px;
    padding: 5px;
  }


  .box-clicked-picker:after {
    margin-bottom: -4%;
    border-width: 10px;
    margin-left: -11px;
  }

  //.box-picker{
  //  padding: 0;
  //}
}

@media screen and (min-width: 1000px) {
  .nav-bar-text{
    font-size:1.2em;
  }
  .filter-btn-text {
    font-size: 1.15em;
  }
  .display-on-switch{
    height: 23px;;
  }

  .display-off-switch{
    height: 23px;
  }
}

//@media screen and (min-width: 1100px) {
//  //.nav-bar-text{
//  //  font-size:1.4em;
//  //  top:8px;
//  //}
//}

@media screen and (min-width: 1300px) {
  .display-on-switch{
    height: 23px;
    margin-top: 5px;
  }

  .display-off-switch{
    height: 23px;
    margin-top: 5px;
  }
  .box-clicked-picker:after {
    margin-bottom: -4%;
  }
}

@media screen and (min-width: 1600px) {
  .box-clicked-picker:after {
    margin-bottom: -5%;
  }
}






