.system-message-container {
  height: 100%;
   width: 100%;display: flex;align-items: center;min-height: 40px;background-color: #EAE9E7;
  //padding: 10px 10px 10px 5px;
  padding: 0 10px 0 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

.system-message-container-padding {
  margin:auto;display: flex;align-items: center;
}

.system-message-text {
  text-align: right;float:right;
  font-weight: bold;
}

.system-message-icon {
  height: 20px;width: auto;margin: 5px;
}


@media screen and (min-width: 700px)  {
  .system-message-text {
    font-size: 1.2em;
  }

}
