<div class="system-message-container">
  <div class="system-message-container-padding">
        <span class="system-message-text">
          {{systemMessage | translate}}
        </span>
    <!--remove display none when icon is needed-->
    <img  src="assets/icons/attention.png" class="system-message-icon" style="display: none;">
  </div>
</div>
