<div [ngClass]="{'markOptions': true, 'markOptions-right':isFloatRight, 'markOptions-left':!isFloatRight }" [ngStyle]="{'display':displayOptions ? 'block' : 'none' }">
  <div class="mark-all-option">
    <span [ngClass]="{'mark_on':checkAll, 'mark_off':!checkAll}" (click)="onCheckAll()"></span>
    <!--<input class="check-box" [(ngModel)]='checkAll' type="checkbox"  (click)="onCheckAll($event)">-->
  </div>
  <div class="text-area" (click)="blockSelected()">
    <div class="items-container">
      <img class="icon" src="assets/icons/block.svg">
      <span class="marked-chats" style="color: white">{{'BLOCK_MARKED' | translate}}</span>
    </div>
  </div>
  <div class="text-area" (click)="moveSelectedUsers()">
    <div class="items-container">
      <img class="icon" src="assets/icons/trash.svg">
      <span class="marked-chats" style="color: white">{{'DELETE_MARKED' | translate}}</span>
    </div>
  </div>
</div>
