@import '../../sass/styles';

.markOptions {
  //position: sticky;
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: $primary-color;
  bottom: 0;
  display: block;
  cursor: pointer;
}

.text-area {
  width: 45%;
  height: 100%;
  position: relative;
  float: var(--main-float);
  text-align: center;
  border: 1px solid white;
  border-bottom-width: 2px ;
  display: flex;
  align-items: center;
}

.items-container {
  margin:auto;
}

.mark-all-option {
  //content: url("../../assets/icons/mark_background.svg");
  //background-color: $primary-color;
  width: 10%;
  height: 100%;
  position: relative;
  float: var(--main-float);
  text-align: center;
  border: 1px solid white;
  border-bottom-width: 2px ;
}

.mark_all {
  content: url("../../assets/icons/mark_all.png");
  height: 54px;
}

.remove_mark_all {
  content: url("../../assets/icons/mark_option_on.png");
  height: 54px;
}
.icon{
  height:20px;
  width: 20px;
  margin: 5px;
}

@media screen and (min-width:700px) {
  .markOptions{
    background-color: unset;
    width: inherit;
  }

  .markOptions-left{
    padding-right: 24px;
    padding-left: 30px;
  }

  .markOptions-right{
    padding-left: 24px;
    padding-right: 30px;
  }

  .mark-all-option {
    background-color: $primary-color;
  }

  .text-area {
    background-color: $primary-color;
  }
}

.mark_on {
  content: url("../../assets/icons/mark_option_on.png");
  height: 20px;
  width: 50%;
  margin-top: 15px;
}

.mark_off {
  content: url("../../assets/icons/mark_all.png");
  max-height: 100%;
  width: 100%;
  height: auto;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media screen and (min-width:850px) {
  .markOptions{
    width: 360px;
  }
}

@media screen and (min-width:992px) {
  .markOptions{
    width: 415px;
  }
}

@media screen and (min-width:1050px) {
  .markOptions{
    width: 392px;
  }
}
