<div class="chat-window-container">
  <div
    *ngIf="shouldDisplayHeader"
    class="chat-window-header"
    [ngClass]="{ overrideHeaderOnMobile: hideWindowHeader }"
  >
    <div class="chat-window-title">
      <img
        src="{{ currentConversation.conversationUser?.logo }}"
        (click)="linkToProfile()"
        width="30px"
        height="30px"
      />
      <span class="user-status font-active-chat-title"
        >{{ currentConversation.conversationUser?.nickName }}
      </span>
      <img
        src="assets/icons/greenOnline.png"
        style="height: 10px;margin:0 5px 0 5px;"
        [ngStyle]="{
          display: currentConversation.conversationUser?.online
            ? 'block'
            : 'none'
        }"
      />
      <span
        class="user-status"
        style="color: #D5B450;font-style: italic;font-weight: 700;margin: 0 3px 0 3px"
        *ngIf="typing | async"
        >{{ "TYPING" | translate }}</span
      >
    </div>
    <!--only for mobile & not application -->
    <div *ngIf="!isInApplicationIframe" class="arrow-back-float">
      <span *ngIf="!inZoomImg" class="button-back" (click)="goBack()"></span>
    </div>
    <!--image zoom out-->
    <div class="arrow-back-float">
      <span
        class="button-back2"
        [ngStyle]="{ display: inZoomImg ? 'block' : 'none' }"
        (click)="zoomOut()"
      ></span>
    </div>
  </div>

  <!--only for mobile & not application -->
  <div
    *ngIf="!isInApplicationIframe && typing | async"
    class="mobile-typing-container"
  >
    <span class="user-status mobile-typing">{{ "TYPING" | translate }}</span>
  </div>
  <!--another button for image zoom out-->
  <img
    [ngStyle]="{ display: inZoomImg ? 'block' : 'none' }"
    [ngClass]="{
      'close-btn': true,
      'close-btn-left': !isFloatRight,
      'close-btn-right': isFloatRight
    }"
    src="assets/icons/close-btn.png"
    (click)="zoomOut()"
  />

  <div
    class="chat-window-body"
    id="chatWindowBody"
    [ngStyle]="{
      'margin-bottom': amountActiveNotRead ? '48px' : 'unset',
      top: shouldDisplayHeader ? '55px' : '0'
    }"
    #chatWindow
  >
    <!--NOTE - Mobile mode (which isn't in application iframe) shouldn't have header -->

    <div class="message-container" *ngFor="let message of messages | async">
      <chat-message [message]="message"></chat-message>
    </div>
  </div>

  <div
    class="chat-window-footer-container"
    [ngStyle]="{
      display: inZoomImg ? 'none' : 'block',
      height: amountActiveNotRead ? '87px' : '45px'
    }"
  >
    <!--todo move this in to one comoonent (active-chat up-down)-->
    <div
      [ngStyle]="{ display: showActiveChat ? 'block' : 'none' }"
      (click)="toggleActiveChat()"
      class="active-chats-up"
    >
      <div class="active-chat-icon">
        <span
          [ngClass]="{
            'active-chat-icon': true,
            'no-active-messages': !amountActiveNotRead,
            'active-messages': !!amountActiveNotRead
          }"
        ></span>
        <span
          [ngClass]="{
            'unread-amount': amountActiveNotRead.toString().length < 2,
            'unread-amount-long': amountActiveNotRead.toString().length >= 2
          }"
          [ngStyle]="{ display: !amountActiveNotRead ? 'none' : 'block' }"
          >{{ amountActiveNotRead }}</span
        >
      </div>
      <span
        style="position: absolute;top:6px;right: 0;left: 0;text-align: center;color: black;font-weight: 600"
        >{{ "ACTIVE_MESSAGES" | translate }}</span
      >
      <span class="arrow-back" style="top:6px;left:5px;"></span>
    </div>
    <div *ngIf="showActiveChat" name="activeChatData" class="active-chats-data">
      <img
        class="scroll-active-chat"
        src="assets/icons/arrow_left.svg"
        [ngStyle]="{ display: lastConversations.length > 5 ? 'block' : 'none' }"
      />
      <div
        *ngFor="let conversation of lastConversations | async"
        class="active-chat-comp"
        (click)="changeConversation(conversation)"
      >
        <div class=" x-container">
          <img src="assets/icons/x_mark1.svg" class="active-chat-x-icon" />
        </div>
        <div class="active-chat-logo-container">
          <img
            src="{{ conversation.conversationUser?.logo }}"
            class="info-logo-img"
          />
          <span
            [ngClass]="{
              'on-off-logo': true,
              'online-logo': conversation.conversationUser.online,
              'offline-logo': !conversation.conversationUser.online
            }"
          ></span>
        </div>
        <div class="active-chat-info-container">
          <span>
            <span
              class="font-active-chat-title message-info"
              style="font-size: 1em"
              >{{ conversation.conversationUser.nickName }}</span
            >
            <span class="message-info">{{
              conversation.conversationUser.age
            }}</span>
          </span>
          <span class="message-info">
            <img
              src="assets/icons/location_mark.svg"
              class="active-chat-location-icon"
              style="font-size: 10px"
            />{{ conversation.conversationUser.city }}</span
          >
        </div>
      </div>
      <img
        class="scroll-active-chat"
        src="assets/icons/arrow_right.svg"
        [ngStyle]="{ display: lastConversations.length > 5 ? 'block' : 'none' }"
        (click)="next5Convs()"
      />
    </div>
    <div *ngIf="!showActiveChat" class="chat-window-footer">
      <div
        class="send-section-btn"
        [ngStyle]="{ display: isFloatRight ? 'block' : 'none' }"
      >
        <img
          src="assets/icons/camera.svg"
          class="send-section-img"
          data-toggle="modal"
          data-target="#gallery"
          (click)="getGallery()"
        />
      </div>

      <div
        class="send-section"
        [ngStyle]="{ display: !isFloatRight ? 'block' : 'none' }"
      >
        <div
          (click)="onSendClick($event)"
          [ngClass]="{
            'filter-gray': showDisabled,
            'filter-original': !showDisabled,
            'send-btn': 'true',
            'send-section-btn': 'true'
          }"
        >
          <img class="send-section-img" src="assets/icons/chat_send.svg" />
        </div>
      </div>

      <div class="send-section send-section-right">
        <textarea
          class="write-crusor"
          rows="1"
          [(ngModel)]="draftMessage.content"
          placeholder="{{ 'WRITE_MESSAGE' | translate }}"
          (blur)="onBlurTextArea()"
          (focus)="onFocusTextArea()"
          (input)="setPlaceHolder()"
          (keyup)="changeDisabled()"
          (keydown)="sendTyping()"
          id="textInput"
          #textTyping
        >
        </textarea>
      </div>

      <div
        class="send-section"
        [ngStyle]="{ display: isFloatRight ? 'block' : 'none' }"
      >
        <div
          (click)="onSendClick($event)"
          [ngClass]="{
            'filter-gray': showDisabled,
            'filter-original': !showDisabled,
            'send-btn': 'true',
            'send-section-btn': 'true'
          }"
        >
          <img class="send-section-img" src="assets/icons/chat_send.svg" />
        </div>
      </div>

      <div
        class="send-section-btn"
        [ngStyle]="{ display: !isFloatRight && !isMobile ? 'block' : 'none' }"
      >
        <img
          src="assets/icons/camera.svg"
          class="send-section-img"
          data-toggle="modal"
          data-target="#gallery"
          (click)="getGallery()"
        />
      </div>
    </div>

    <div
      [ngStyle]="{
        display: !showActiveChat && amountActiveNotRead ? 'block' : 'none'
      }"
      class="active-chats-container"
    >
      <div (click)="toggleActiveChat()" class="active-chats">
        <!--<img src="assets/icons/chat_bubble.svg" class="active-chat-icon">-->
        <div class="active-chat-icon" style="margin-top: 4px;">
          <span
            [ngClass]="{
              'active-chat-icon': true,
              'no-active-messages': !amountActiveNotRead,
              'active-messages': !!amountActiveNotRead
            }"
          ></span>
          <span
            [ngClass]="{
              'unread-amount': amountActiveNotRead.toString().length < 2,
              'unread-amount-long': amountActiveNotRead.toString().length >= 2
            }"
            [ngStyle]="{ display: !amountActiveNotRead ? 'none' : 'block' }"
            >{{ amountActiveNotRead }}</span
          >
        </div>
        <span class="font-active-chat-title active-chats-text">{{
          "ACTIVE_MESSAGES" | translate
        }}</span>
        <span class="arrow-back" style="top:12px;left:5px"></span>
      </div>
    </div>
    <div class="primary-line"></div>
    <div
      [ngClass]="{
        mobile: isMobile && isClientSide,
        reg: !isMobile || !isClientSide,
        callLink: true
      }"
    >
      <a
        target="_parent"
        href="tel:{{ currentConversation.conversationUser?.phoneNumber }}"
      >
        <img src="assets/icons/call.png" />
      </a>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="gallery"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <app-image-gallery style="height: 100%;"></app-image-gallery>
      </div>
    </div>
  </div>
</div>
<a
  href="../../users/account/memberships"
  target="_top"
  hidden
  #paymentWindow
></a>
<a
  href="{{
    getUserProfileUrl_Reference(currentConversation.conversationUser?.userId)
  }}"
  target="_blank"
  hidden
  #profileLinkBtn
>
</a>
