@import '../../sass/styles';
$header-height: 65px; // In case of change - update property "top" at ngStyle on chat-window-body
$footer-height: 42px;

.button-back {
  display: block;
  float: left;
  content: url("../../assets/icons/arrow_back.svg") ;
  height: 27px;
  width: 35px;
  transform: rotate(180deg);
}

.button-back2 {
  display: block;
  content: url("../../assets/icons/arrow_back.png") ;
  height: 16px;
  width: auto;
  margin-top:6px;
  transform: var(--arrow-icons-transform);
  cursor: pointer;
}

.arrow-back-float {
  float:right;
}

.close-btn {
  position: absolute;
  z-index: 99;
  //top: 40px;
  height: 30px;
  cursor: pointer;
}

.close-btn-left {
  left:0;
}

.close-btn-right {
  right: 0;
}
@media screen and (min-width: 700px) {
  .button-back {
    display: none;
  }
}

.chat-window-container {
  position: relative;
  height: 100%;
  direction: var(--text-direction);
}

.chat-window-header {
  position: absolute;
  width: 100%;
  padding: 9px 6px 5px 2px;
  height: $header-height ;
  background-color: $black;
  border-radius: 10px 10px 0 0;
  border: 1px solid $primary-color;
  border-bottom-width: 5px;
}

.chat-window-header span {
  color: $white;
}

.chat-window-header img {
  border-radius: 50%;
  margin:0 5px 0 5px;
  cursor: pointer;
  float: left;
}


.typing {
  font-style: italic;
  color: $primary-color;
}

.chat-window-body {
  background-color: white;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  top: $header-height; //- top is set on element ngStyle
  bottom: $footer-height;
  width: 100%;
  margin-bottom: 48px;
  left: 0;
  right: 0;
}

.message-container {
  width: 100%;
  overflow: hidden;
  //overflow: auto;
}

.chat-window-footer {
  //height: $footer-height;
  width: 100%;
  background-color: #EFEFEF;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  direction: ltr;
}

.chat-window-footer-container {
  //height: $footer-height+45px;
  width: 100%;
  background-color: $secondary-color;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.send-section {
  height: 100%;
}

.send-section-right {
  flex-grow: 1;
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.send-section-btn {
  width: $footer-height;
  height: $footer-height;
  padding: 5px;
  float: left;
}

.send-btn {
  padding: 10%;
}

.typing-container {
  color: $primary-color;font-style: italic;font-weight: 700;margin-right: 3px;
}

.send-section-img {
  width: 100%;
  height: 100%;
  cursor:pointer;
}

.chat-window-footer textarea {
  width: calc(100% - 90px);
  border: 0;
  background-color: #EFEFEF;
  resize: none;
  line-height: 1.8;
  position: absolute;
  bottom: 0;
  max-height: 154px;
  border-radius: 10px;
  direction: var(--text-direction);
}

.chat-window-title{
  display: flex;
  position: relative;
  align-items: center;
  float: left;
  direction: ltr;
  margin-top: -20px;
  top:25px;
  
}

.system-message {
  display: block;
  margin-bottom: 10px;
}

.height-system-message {
  height: 70px;
}

.short-system-message {
  height: 40px;
}

.overrideHeaderOnMobile {
  display: none;
}

.overrideHeaderOnMobile ~ #chatWindowBody {
  top: 0;
}

.chat-window-footer textarea:focus {
  outline-width: 0;
}

.padding-0 {
  padding: 0;
}

.active-chats-container {
  position: absolute;
  width: 100%;
  height: 40px;
  background-color: $secondary-color;
  bottom: 0;
}

.active-chats-up {
  position: absolute;
  width: 40%;
  height: 30px;
  background-color: $primary-color;
  top: 0;
  display: flex;
  flex-direction: row;
  margin-top: -33px;
}

.active-chats {
  width: 40%;
  height: 100%;
  background-color: $primary-color;
  bottom: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.active-chat-icon {
  position: relative;
  height: 28px;
  width: 28px;
}

.active-messages {
  content:url("../../assets/icons/activeCounter.svg");
  width: 100%;
}

.no-active-messages {
  content:url("../../assets/icons/chat_bubble.svg");
  width: 100%;
}

.unread-amount {
  position: absolute;
  right: 3px;
  top: 2px;

}

.unread-amount-long {
  position: absolute;
  right: 2px;
  top: 4px;
  font-size: 8px;
}

.primary-line {
  position: absolute;
  height: 3px;
  width: 100%;
  bottom: 0;
  background-color: $primary-color;
}

.active-chats-data {
  position: absolute;
  height: 87px;
  width: 100%;
  bottom: 0;
  display: flex;
  flex-direction: row;
  direction: ltr;
  background-color: #EFEFEF;
  cursor: pointer;
}

.active-chat-comp {
  width: 20%;
  border-right: $secondary-color solid 1.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5px;
}

.active-chat-comp-last {
  @extend .active-chat-comp;
  border: 0;
}

.active-chat-logo-container {
  display: flex;
  flex: 4;
  justify-content: center;
  padding: 0 15% 3% 15%;
}

.info-logo-img {
  border-radius: 50%;
  position: absolute;
  top:15%;
  width: 40px;
  height: 40px;
  border: solid white 1px;
  display: flex;
}

.on-off-logo {
  position: absolute;
  margin-top: 23px;
  margin-left: -15px;
  height: 8px;
  width: 8px;
}

.online-logo {
  content:url("../../assets/icons/greenOnline.png");
}

.offline-logo {
  content:url("../../assets/icons/offline.svg");
}

.active-chat-info-container {
  display: flex;
  flex: 3;
  flex-direction: column;
  line-height: 1;
  align-items: center;
}

.info-logo-content {
  display: flex;
}

.info-content>span {
  line-height: 1;
}

.x-container {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
}

.active-chat-x-icon {
  width: 12px;
  height: 12px;
  margin-right: 10px;
}

.scroll-active-chat {
  width: 8px;
  height: 40px;
  margin-top: 4%;
}

.arrow-back {
  content: url("../../assets/icons/arrow_down.svg");
  height: 15px;
  position: absolute;
}

.font-active-chat-title {
  color: black;
  font-weight: 600;
  text-align: right;
}

.active-chats-text {
  font-size: 0.95em;
  text-align: center;
  position: absolute;
  width: 100%;
}

::placeholder {
  font-size: 0.9em;
}

.active-chat-location-icon {
  width: 10px;
  height: 10px;
}

.filter-gray {
  content: url("../../assets/icons/graySend.png") ;
}

.filter-original {
  content: url("../../assets/icons/goldFilter.png") ;
}

#textInput{

}

#textInput + span {
  position: fixed;
  display: inline-block;
}

.displayTyping{
  display: inline-block;
}

.hideTyping{
  display: none;
}

.modal-content {
  height: 100%;
  width: 100%;
  margin: unset;
}



.modal-body {
  height: 100%;
  width: 100%;
  padding: unset;
  overflow: hidden;
}

.modal {
}

.modal-dialog {
  max-width: unset;
  height: 100%;
  position: absolute;
  width: 100%;
  display: block;
  margin: unset;
}

@media screen and (min-width:400px) {
  .active-chats-text {
    font-size: 1.1em;
  }

  .active-chat-icon {
    width: 32px;
  }
}

@media screen and (min-width:600px) {
  .active-chats-text {
    font-size: 1.3em;
  }
}

@media screen and (min-width:700px) {
  .mobile-typing-container {
    display: none;
  }

  .height-system-message {
    height: 50px;
  }

  .chat-window-header {
    border-radius: unset;

  }
  .overrideHeaderOnMobile {
    display: block;
  }
  .modal {
    top:0;
  }
  .modal-dialog{
    width: 60%;
    height: 50%;
    margin-right: 20%;
    padding-top: 3%;
  }
  .modal-content {
    border-width: 5px;
  }

  .active-chats-text {
    font-size: 1.1em;
  }

  .active-chat-icon {
    width: 28px;
  }
}

@media screen and (min-width:900px) {

  .active-chats-text {
    font-size: 1.3em;
  }
  ::placeholder {
    font-size: 1em;
  }

  .active-chat-icon {
    width: 32px;
  }
}

@media screen and (min-width:1100px) {
  .on-off-logo {
    margin-left: -15px;
    margin-top: 25px;
  }

  .active-chat-icon {
    width: 36px;
  }
  .unread-amount {
    right: 5px;
  }
}

@media screen and (min-width:1500px) and (min-height: 700px) {
  .info-logo-img{
    top:7%;
    height: 50px;
    width: 50px;
  }

  .on-off-logo {
    margin-left: -17px;
    margin-top: 26px;
  }
}
/*for mobile browsing, replace profile picture and name on header with call icon*/

.callLink{
  z-index: 3;
  position: relative;
  float: left;
  left:-10px;
  bottom:20px;
  height: fit-content;
  width: fit-content;
}

.callLink>img{
  width: 150%;
  height: 150%;
}

.mobile{
  display: inline-flex;
}

.reg{
  display:none;
}





