<!--<span class="keep_header"></span>-->

<div class="gallery-container" #bodyElement>

  <div class="gallery-header">
    <div>
      <span (click)="changeGallery()" class="close-gallery"></span>
      <span class="gallery-title">{{'GALLERY_TITLE' | translate}}</span>
    </div>
  </div>


  <div class="gallery-body">
    <div class="images-container">

      <div class="gallery-Images upload-image-container" (click)="getImage()">
        <div style="margin: auto">

          <div class="upload-image-row">
            <img class="upload-image-icon" src="assets/icons/photo.png">
          </div>

          <div class="upload-image-row title-row">
          <span class="upload-image-title">{{"GALLERY_UPLOAD_IMAGE" | translate}}</span>
          </div>
        </div>
        <input type="file" accept="image/x-png,image/gif,image/jpeg"  (change)="fileChangeEvent()" hidden multiple #inputFile>
      </div>

      <div class="gallery-Images" *ngFor="let image of images" #galleryImages>
        <app-image [image]="image"></app-image>
      </div>

    </div>

  </div>

  <div class="gallery-bottom-container">

    <div class="action-container delete-option" (click)="preformDelete()">
      <div class="actionOption" [ngClass]="{'gray-color': !selectedImage, 'primary-color':selectedImage}">
        <div class="action-item">
          <img class="option-icon" [ngClass]="{'delete-icon-disabled': !selectedImage,'delete-icon-enabled': selectedImage}">
          <span class="option-text" [ngStyle]="{'color': !selectedImage ? 'black' : 'white'}">{{'GALLERY_DELETE_IMAGE' | translate}}</span>
        </div>
      </div>
    </div>

    <div class="action-container send-option" (click)="sendImage()">
      <div class="actionOption" [ngClass]="{'gray-color': !selectedImage, 'primary-color':selectedImage}">
        <div class="action-item">
          <img class="option-icon" [ngClass]="{'send-icon-disabled': !selectedImage,'send-icon-enabled': selectedImage}">
          <span class="option-text" [ngStyle]="{'color': !selectedImage ? 'black' : 'white'}">{{'GALLERY_SEND_IMAGE' | translate}}</span>
        </div>
      </div>
    </div>

  </div>

</div>



<!--<img src="https://media.giphy.com/media/33HmT7n8mzAy35s73R/giphy.gif" [ngStyle]="{'display':isLoading ? 'block' : 'none' }" style="position: absolute;margin: auto;top:0;left: 0;right: 0;bottom: 0">-->
<span data-dismiss="modal" #closeGallery>





