@import '../../sass/styles';
$header-height: 40px;
$bottom-container-height: 35px;
$gallery-side-padding: 10px;

.gallery-container {
  height: 100%;width: 100%;position: relative;
}

.gallery-header {
  height: $header-height;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  background-color: white;
  position: absolute;
  top:0;
  box-shadow: 0 0 1px #ccc;
}

.gallery-body {
  height: 100%;
  width: 100%;
  padding: $header-height 0  $bottom-container-height 0 ;
  background-color: #F5F5F5;
}

.gallery-bottom-container {
  height: $bottom-container-height;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: block;
  font-size: 0.8em;
  background-color: white;
}

.images-container {
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
  //grid-gap: 15px;
  display: grid;
  justify-content: space-around;
  grid-template-columns: auto auto;
}

.close-gallery {
  content: url("../../assets/icons/arrow_right.svg");
  height: 15px;
  float: right;
  margin-top:3px;
  cursor: pointer;
}

.gallery-title {
  font-size: 1.4em;
  font-weight: 600;
  margin: 0 10px 0 10px;
}

::-webkit-scrollbar {
  width: 0;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}

.gallery-Images {
  height: 160px;
  width: 130px;
  float: right;
  margin:7px 5px 7px 5px;
  border:1px solid $secondary-color;
  border-radius: 10px;
}

.upload-image-container {
  background-color: $gray-color;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.upload-image-icon {
  height: auto;
  display: block;
  margin: auto;
}

.upload-image-row {
  width: 100%;display: block;text-align: center;
}

.title-row {
  margin: 10px 0 10px 0;
}

.upload-image-title {
  font-size: 1.3em;
  font-weight: 600;
}

.upload-size-text {
  opacity: 0.7;
  font-size: 0.9em;
}


.primary-color {
  background-color: $primary-color;
}

.gray-color {
  background-color: $gray-color;
}

.actionOption {
  height: 25px;
  width: 130px;
  display: flex;
  align-items: center;
  margin:auto;
  position: relative;
  border-radius: 9px;
}

.option-icon {
  height: 12px;
  margin:2px 4px 0 4px;
  float: var(--main-float);
}

.send-icon-enabled {
  content: url("../../assets/icons/for.svg");
}

.send-icon-disabled {
  content: url("../../assets/icons/send.png");
}

.delete-icon-enabled {
  content: url("../../assets/icons/del.svg");
}

.delete-icon-disabled {
  content: url("../../assets/icons/delete.png");
}

.action-container {
  height: 100%;width:50%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.action-item {
  margin:auto;
}

.send-option {
  float: var(--main-float);
}

.delete-option {
  float: var(--not-main-float);
}

.filter-gray {
  background-color: gray;
}

.filter-original {
  background-color: $primary-color
}

.option-text {
  font-weight: 600;
  font-size: 1.2em;
}

@media screen and (min-width:375px) {
  .gallery-Images {
    height: 175px;
    width: 145px;
  }
  .actionOption {
    width: 140px;
  }

}

@media screen and (min-width:700px) {
  .images-container {
    grid-template-columns: auto auto auto;
  }
  .gallery-Images {
    height: 165px;
    width: 130px;
  }
  .actionOption {
    width: 80%;
    max-width: 300px;
  }
  .option-text {
    font-size: 1.3em;
  }
}

@media screen and (min-width:900px) {
  .gallery-Images {
    height: 175px;
    width: 140px;
  }
}


@media screen and (min-width:1000px) {
  .images-container {
    grid-template-columns: auto auto auto auto ;
  }
  .option-text {
    font-size: 1.4em;
  }
}

@media screen and (min-width:1300px) {
  .images-container {
    grid-template-columns: auto auto auto auto auto ;
  }
  .gallery-Images {
    height: 180px;
    width: 135px;
  }
}

@media screen and (min-width:1450px) {
  .gallery-Images {
    height: 190px;
    width: 150px;
  }
}
