@import '../sass/styles.scss';
$content-section-height: 91%;
$header-section-height: 100 - $content-section-height;
.app-root-main{
  height: 100%;
  display: block;
  overflow: hidden;
  background-color: #EAE9E7;
}
.header {
  background-color: $secondary-color;
  color: black;
  //height: 60px;
  height: 25px;

}

.header-invisible {
  display: none;
}

.context-div {
  //height: $content-section-height;
  background-color: $secondary-color;
  height: 100%;
}

.context-div-in-chat {
  height: 100%;
}

.column {
  float: var(--main-float);
  height: 100%;
  box-sizing: border-box;
}

.conversations-list {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  direction: var(--not-main-text-direction);
  //padding-bottom: 50px;
}

.chat-window {
  background-color: white;
  padding-bottom: 1px;
  border-radius: 10px;
}

.chat-window-invisible {
  display: none;
}

.conversations-invisible {
  display: none;
}

:host /deep/ .myClass {
  background-color: #0a9c0a;
  position: fixed;
  min-height: 0;
  margin-left: 50px;
  height: 55px;
  //width:300px;
  width: 80%;
  border-radius: 10px;
  top:0;
  right: 10%;
}

.image {
  height: 35px;
  width: 35px;
  float: var(--main-float);
  border-radius: 50%;
}

.notification-info {
  float: right;
  display: inline-block;
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
  direction: var(--text-direction);
  text-align: var(--main-float);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.displayOrHide {
  display: none;
}

.default-message-container {
  position: absolute;

  width: 80%;
  min-width: 270px;
  max-width: 520px;

  padding: 30px;
  top:10%;
  left: 0;
  right: 0;
  margin: auto;

  background-color: $primary-color;
  border-radius: 12.5px;

  -webkit-box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);

  text-align: center;
  line-height: 20px;
  font-size: 1.3em;
}

.default-message-row {
  display: block;
}

.default-message-title {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 5px;
}

.default-message-footer-text {
  font-weight: bold;
}

.default-message-footer-container {
  margin-top:10px;
  line-height: 20px;
}

@media screen and (min-width:700px) {
  //.column {
  //  max-height: 550px;
  //}
  .app-root-main{
    overflow: unset;
  }
  .conversations-invisible {
      display: block;
  }
  .chat-window-invisible {
      display: block;
  }
  .header-invisible {
    //padding: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    display: block;
  }
  .context-div-in-chat {
    height: 100%;
  }

  .context-div {
    //padding-top: 50px;
    //padding-bottom: 100px;
    //padding-top: 5%;
    //padding-bottom: 5%;
    //padding-right: 50px;
    //padding-left: 50px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 30px;
    //padding-bottom: 38px;
    margin-left: auto;
    margin-right: auto;
  }

  //.header {
  //  height: 65px;
  //}

  .header-float-right {
    padding-right: 10px;
    padding-left: 25px;
  }

  .header-float-left {
    padding-left: 10px;
    padding-right: 25px;
  }

  :host /deep/ .myClass {
    min-height: 55px;
    max-width: 630px;
    width: 35%;
    right: 58%;
  }

  .notification-info {
    font-size: 1.3rem;
  }

  .displayOrHide {
    display: block;
    position: relative;
    height: 100%;
  }

  .default-message-container {
    font-size: 1.5em;
    line-height: 35px;
  }

}

.start-conversation-note {
  position: absolute;
  right: 40%;
  top:10%;
  width: 320px;
}

@media screen and (min-width:850px) {
  .context-div {
    width: 750px;
  }
  //.column {
  //  max-height: 600px;
  //}
  :host /deep/ .myClass {
    right: 50%;
  }
}

@media screen and (min-width:992px) {
  .context-div {
    width: 970px;
  }
}

@media screen and (min-width:1200px) {
  .context-div {
    width: 1170px;
  }
  .notification-info {
    font-size: 1.3em;
  }
}

@media screen and (min-width:1420px) {
  :host /deep/ .myClass {
    right: 45%;
  }
}
//
//@media screen and (min-width:1600px) {
//  .context-div {
//    padding-right: 220px;
//    padding-left: 220px;
//  }
//}
//
//@media screen and (min-width:1750px) {
//  .context-div {
//    padding-right: 300px;
//    padding-left: 300px;
//  }
//}

@media screen and (min-width: 700px) {
  .context-div {
    height: 100%;
  }
}


@media screen and (max-height:750px) and (min-width: 700px) {


  .context-div {
    height: 100%;
  }
}

