<div class="app-root-main">

  <div [ngClass]="{'context-div':true ,'context-div-in-chat':!convsVisible}">
    <div [ngClass]="{'column':true ,'conversations-list':true ,'conversations-invisible': !convsVisible}"
         (scroll)="onScroll()" #chatScroll>
      <!--<div [ngClass]="{'header':true ,'header-float-right':headerFloatRight, 'header-float-left':!headerFloatRight, 'header-invisible':!convsVisible}">-->
        <!--<chat-nav-bar></chat-nav-bar>-->
      <!--</div>-->
      <chat-conversations></chat-conversations>
    </div>

    <div [ngClass]="{'column':true ,'main-chat-window':true ,'chat-window-invisible': !chatVisible}"
         [ngStyle]="{'display':hideChat ? 'none' : 'block' }"
         *ngIf="currentConversation">
      <chat-window [currentConversation]="currentConversation"></chat-window>
    </div>
  </div>

  <simple-notifications [options]="options"></simple-notifications>
  <ng-template #notificate>
    <div (click)="setCurrentConversation()">
      <div class="notification-info">
        <img src="{{notificationUser.conversationUser.logo}}" class="image" [ngStyle]="{'margin': headerFloatRight ? '0 0 0 5px' : '0 5px 0 0'}">
        <span>{{notificationUser.conversationUser.nickName}}</span>
        <span>{{notificationMsg}}</span>
      </div>
    </div>
  </ng-template>

  <div class="default-message-container" *ngIf="showDefaultMessage | async">
    <!--<div class="default-message-body">-->
      <span class="default-message-row default-message-title">{{"SYSTEM_WELCOME_MESSAGE" | translate}} xfinder</span>
      <span class="default-message-row">{{"SYSTEM_WELCOME_MESSAGE1" | translate}}</span>
      <span class="default-message-row">{{"SYSTEM_WELCOME_MESSAGE2" | translate}}</span>
      <span class="default-message-row">{{"SYSTEM_WELCOME_MESSAGE3" | translate}}</span>
      <div class="default-message-footer-container">
        <span class="default-message-row">{{"SYSTEM_WELCOME_MESSAGE4" | translate}} xfindermanager@gmail.com</span>
        <span class="default-message-row default-message-footer-text">{{"TEAM" | translate}} xfinder</span>
      </div>
    <!--</div>-->
  </div>

</div>
