<div class="bubble-container">
  <div class="message-bubble" [ngClass]="{'my-message':message.isViewingUserMessage,
       'other-message':!message.isViewingUserMessage, 'no-after': message.prevMsgDiffUser&&!message.image}" #messageBubble>


    <div *ngIf="message.image" >
      <img src={{message.image.url}} [ngStyle]="{'height':message.image.height < 250? 'auto' : '100%' }"
           [ngClass]="{'image-message':message.isViewingUserMessage,'image-msg-other':!message.isViewingUserMessage}" (click)="openImage()">
      <br>
    </div>

    <div class="chat-with-user message-float" [innerHTML]="message.content"> </div>
    <br *ngIf="message.content.length > 24">

    <!--Message info container-->
    <div style="float:left" [ngClass]="{ 'date-in-image':message.image&&message.isViewingUserMessage,'date-in-other-image':message.image&&!message.isViewingUserMessage,
                      'message-info-background': message.image}"
                      [ngStyle]="{'margin': isFloatRight ? '4px 2px 0 0' : '4px 0 0 2px', 'color':message.image? 'rgba(255, 255, 255, 0.9)': 'black'}">
      {{message.dateCreated | messageDate}}
      <div [ngClass]="{'last_msg_read':message.isRead&&message.isViewingUserMessage&&message.successfulySent,
      'last_msg_not_read': !message.isRead&&message.isViewingUserMessage&&message.successfulySent , 'single_vi':!message.successfulySent&&message.isViewingUserMessage}"></div>
    </div>

  </div>
  <div *ngIf="!message.isViewingUserMessage" class="image-container">
    <img src="{{message.user?.logo}}" (click)="linkToProfile()" />
    <div id="online-bullet" *ngIf="message.user?.online"></div>
  </div>
</div>

<a href="{{getUserProfileUrl_Reference(message.user?.userId)}}" target="_blank" #profileLinkBtn hidden>
