@import '../../sass/styles';

.bubble-container {
  position: relative;
  direction: rtl;
  margin: 5px;
}

.message-bubble {
  display: inline-block;
  border-radius: 15px;
  padding: 5px;
  position: relative;
  max-width: 70%;
}

.other-message:after {
  content: none;
  position: absolute;
  left: 4px;
  bottom:0;
  width: 0;
  height: 0;
  border: 17px solid transparent;
  border-left-color: $secondary-color;
  border-left: 0;
  border-bottom: 0;
  margin-top: -5px;
  margin-left: -10px;
}

.my-message:after {
  content: none;
  position: absolute;
  right: 3px;
  bottom:0;
  width: 0;
  height: 0;
  border: 17px solid transparent;
  border-right-color: $primary-color;
  border-right: 0;
  border-bottom: 0;
  margin-top: -5px;
  margin-right: -10px;
}

div.no-after:after{content: '';}


.my-message {
  background-color: $primary-color;
  float: right;
  word-break: break-word;
  margin-right: 4px;
  //word-wrap: break-word;
}

.other-message {
  background-color: $secondary-color;
  word-break: break-word;
  margin-left: 4px;
  //word-wrap: break-word;
}

.image-container {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.image-container img {
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.message-float {
  float:var(--main-float)
}

#online-bullet {
  height: 10px;
  width: 10px;
  background-color: green;
  border-radius: 80%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.msg-date {
  float:right;
}

.other-msg-date {
  float: left;
}

.msg-date-new-line {
  float:right;
  margin-top: 2px;
  margin-right: 4px;
}

.other-msg-date-new-line {
  float: left;
  margin-top: 2px;
  margin-right: 4px;
}

.last_msg_read{
  content:url("../../assets/icons/new_msg_read.svg") ;
  height: 12px;
  width: 15px;
  float:var(--not-main-float);
  margin-right: 3px;
  margin-top:1px;
}

.last_msg_not_read{
  content:url("../../assets/icons/new_msg_not_read.svg") ;
  height: 15px;
  width: 15px;
  float:var(--not-main-float);
  margin-right: 3px;
}

.single_vi {
  content:url("../../assets/icons/one_vi.png") ;
  height: 10px;
  width: 13px;
  float:var(--not-main-float);
  margin-right: 3px;
  margin-top:1px;
}

.image-message {
  position: absolute;
  right: 0;
  width:auto;
  max-width: 100%;
  border-radius: 15px;
  object-fit: cover;
  cursor: pointer;
}

.image-msg-other {
    position: absolute;
    left: 0;
    width:auto;
    max-width: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.full-screen-image {
  height: 100%;
}

.date-in-image {
  position: absolute;
  right: 2px;
  bottom: 0;
}

.date-in-other-image {
  position: absolute;
  left: 2px;
  bottom: 0;
}

.message-info-background {
  background:linear-gradient(to top, rgba(0, 0, 0, 0.3)50%, rgba(0, 0, 0, 0));
  //padding-top: 5px;
  padding: 3px;
  border-radius: 10px;
}
