.card-container {
  transition: margin 0.1s;
  //margin: 15px;
  background-color: white;
  border-radius: 10px;
}

.card-container-left {
  margin:15px 5px 15px 5px;
}

.card-container-right {
  margin:15px 5px 15px 5px;
}

@media screen and (min-width:700px) {
  .card-container-right {
    margin: 10px;
    margin-left: 25px;
  }

  .card-container-left {
    margin: 10px;
    margin-right: 25px;
  }
}
