<div>
  <div class="chat-conversations-body" *ngIf="!hideConversationsOnLoad || openedDefaultConversation">
    <div *ngFor="let conversation of conversations | async" class="card-container" [ngClass]="{'card-container-right':cardDirectionRight,'card-container-left':!cardDirectionRight}">
      <chat-conversation [conversation]="conversation">
      </chat-conversation>
    </div>
  </div>
  <app-chat-options class="conversations-list" style="overflow-y: unset"></app-chat-options>
</div>
